* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F3F5FC;
    min-height: 100vh;
}
main {
    margin: 40px 40px 40px 240px;
    height: 100vmin;
    display: flex;
}


body > img {
    width: 31.09px;
    height: 48px;
    top: 40px;
    left: 84px;
    position: absolute;
}


.campo-busca{
    margin: 128px 80px 32px 0;
    display: flex;
    flex-direction: column;
    
}
.campo-resultado{
    width: 400px;
    background-color: white;
    border-radius: 32px;
    padding: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';
    line-height: 24px;
    text-align: center;
}
.botao{
    padding: 24px;
    width: 320px;
    background: none;
    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
.aviso-caracteres{
    display: flex;
    margin-bottom: 16px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #495057;
}
.texto-resultado{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    color: #495057;

    word-wrap: break-word;

    display: none;
}

.campo-busca .btn-criptografar{
    background-color: #0A3871;
    color: white;
}
.campo-busca .btn-descriptografar{
    background-color: #D8DFE8;
}
.campo-resultado .botao{
    display: none;
}

.campo-resultado h2{
    font-weight: 700;
    font-size: 24px;
    margin: 32px 0 16px 0;
}
.campo-resultado p{
    font-weight: 400;
    font-size: 16px;
}
.campo-resultado img{
    height: 304px;
    width: 336px;
}


.botao:hover{
    cursor: pointer;
}

.campo-busca > textarea {
    border: hidden;
    background: none;
    height: 100%;
    width: 100%;
    resize: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;

}
.campo-busca > div{
    align-self: flex-end;
}

.campo-busca > div > button{
    margin-right: 24px;
}
.aviso-caracteres > img{
    margin-right: 8px;
}


.campo-busca > textarea::placeholder {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;

    color: #0A3871;
}
.campo-busca > textarea:focus-visible{
    outline: none;
}